

    <div style="max-width: 600px; margin: 40px auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);">
        
        {{ include('contact_group/_form.html.twig') }}

        
    </div>

